{% load i18n %}
{% load static %}

<!-- Add user sidebar -->
<div class="user-sidebar" id="userSidebar">
    <div class="user-info" style="margin: -15px;">
        <img src="{% static 'search_engine/images/profile.png' %}" alt="Profile" class="profile-picture">
        <div class="user-name">
            <h4>Johnjohn@ubuntua</h4>
            <small>john@ubuntuacademy.rw</small>
        </div>
    </div>
    
    <div class="user-options" style="margin-top: 30px;">
        <a href="#" class="user-option">
            <span class="material-icons-outlined">person</span>
            {% trans "Your Channel" %}
        </a>
        <a href="#" class="user-option">
            <span class="material-icons-outlined">switch_account</span>
            {% trans "Switch Account" %}
        </a>
        <a href="#" class="user-option">
            <span class="material-icons-outlined">switch_account</span>
            {% trans "Switch Account" %}
        </a>
        <a href="#" class="user-option">
            <span class="material-icons-outlined">switch_account</span>
            {% trans "Switch Account" %}
        </a>
        
        <a href="#" class="user-option">
            <span class="material-icons-outlined">help</span>
            {% trans "Support" %}
        </a>
        <a href="#" class="user-option" style="background-color: #030303; color: #ffffff;" id="logout">
            <span class="material-icons-outlined" >logout</span>
            {% trans "Sign Out" %}
        </a>
        <a href="#" class="user-option" style="background-color: #030303; color: #ffffff;" id="logout">
            <span class="material-icons-outlined" >logout</span>
            {% trans "Sign Out" %}
        </a>
        <a href="#" class="user-option" style="background-color: #030303; color: #ffffff;" id="logout">
            <span class="material-icons-outlined" >logout</span>
            {% trans "Sign Out" %}
        </a>
    </div>
</div>